@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
}
    


@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  
  #profile,
  .section-container {
    display: block;
  }
  #projects{
    padding: 50px 0;
    height: 20vh;
  }

  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }

}
@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 40vh;
    
  }
   
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  
  #projects{
    padding: 50px 0;
    height: 20vh;
  }
  
.image-container {
  flex: 0.8;
  margin: 0;
  padding: 1.5rem;
}

  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
}

@media screen and (max-width: 1400px) {

  #projects{
    padding: 50px 0;
    height: 20vh;
  }
.image-container {
  flex: 0.8;
  margin: 0;
  padding: 1.5rem;
}

  .art-container{
    justify-content: center;
    align-items: center;
    padding: 2rem;
    
  }
    .box{
    display: flex;
    flex-wrap: nowrap;
    width: 300px;
    height: fit-content;
   
  
}

}

@media screen and (max-width: 840px) {
 
  .art-container{
    justify-content: center;
    align-items: center;
    
  }
  #projects{
    padding: 50px 0;
    height: 20vh;
  }
      
    .box{
    display: flex;
    flex-wrap: nowrap;
    width: 300px;
    height: fit-content;
    padding: 2rem 2rem; 
}

}





