*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-x: clip margin 2rem;
      
}

body{
  background:#e6e8ec;
  
}
html{
    scroll-behavior: smooth; 
}

nav,
.nav-links{
    display: flex;
}

nav{
   justify-content: space-around;
   align-items: center;
   height: 17vh;
   
}

.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
    
}

a{
    text-decoration: none;
    color: rgb(61, 163, 223);
}

a:hover {
    color: rgb(47, 57, 148);
    transition: all 0.3s ease;
}

#nav-logo {
    background-color: #c4f2f5;
    background-image: linear-gradient(to top, #688bc0 0%, #a5cbee 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text; 
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

   
/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
  
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: rgb(255, 255, 255);
  width: fit-content;
  max-height: 0;
  transition: all 0.3 ease-in-out;
  overflow: hidden;
 
 
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* SECTIONS */

section {
  padding-top: 2vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}


/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 90vh;
}
.profile-img{
  border-radius: 37rem;
 
}
.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1{
  font-size: 1.5rem;
  color: #acb7f5;
  margin-bottom: 1rem;
}

.section__text__p2 {
  font-size: 1.75rem;
  color: #5662a5;
  margin-top: 1rem;
}

.title {
  font-size: 3rem;
  color: rgb(11, 44, 105);
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* Projects SECTION */
#projects{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 0;
  background-color: #c1c8eb;
}



.image-container {
  flex: 0.6;
  background: white;
  border-radius: 1rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
  margin: 0;
  width: fit-content;
  height: 500px;
  padding: 0 1rem;
 
}

.project-text1{
  font-size: 1.5rem;
  margin-top:0.8rem;
}

.btn {
  margin: 0;
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem 2.5rem;
  width: 8rem;
  border-radius: 1.6rem;
  border: black solid 2px;
  background-color: white;
  font-size: 1rem;
  cursor: pointer;
  

}

.btn:hover{
  color: #091b4d;
  background-color: #95a1e4;
}

.bank {
  border-radius:1rem;

}


/* Digital Art SECTION

#digital-art {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 10rem 0;
  gap: 4rem;
}

.animation1 {
  animation-name: slide-in;
  animation-duration: 2s;
}
.animation2{
  animation-name: slide-in;
   animation-duration: 4s;
  
}
.animation3{
  animation-name: slide-in;
   animation-duration: 6s;
}

.animation-overflow{
  overflow-x: hidden;
}

@keyframes slide-in {
  from {
    translate: 150vw 0;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}
  */
#container__img{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2rem;
}

img{
   overflow: hidden;
}

 .box{
    display: flex;
    width:300px;
    height: fit-content;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    object-fit: contain;
   
}


    



/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
  margin: auto;
  background:#e6e8ec
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}
.contact-info-container i{
    font-size: 2rem;

}

.website__rights {
    color: black;
}
/* FOOTER SECTION */

footer {
  background-color: #c1c8eb;
  height: 26vh;
  margin: 0 ;
}

footer p {
  text-align: center;
}










